@model dynamic
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}


    <div class="site-blocks-cover" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title">Эффективная медицина, Новая медицина каждый день</h2>
              <h1>Добро пожаловать в аптеку</h1>
              <p>
                <a asp-controller="PharmacyWarehouse" asp-action="AllMedicine" class="btn btn-primary px-5 py-3">Все продукты</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch section-overlap">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-primary h-100">
              <a href="#" class="h-100">
                  <h5>Бесплатная<br> доставка</h5>
                  <p>
                      при заказе от 50 рублей
                     
                      <strong> Заказать можно все лекарственные средства, кроме рецептурных, а также БАД и некоторых препаратов, требующих соблюдения особых условий транспортировки.</strong>
                  </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap h-100">
              <a href="#" class="h-100">
                  <h5>Программа<br> лояльности</h5>
                  <p>
                      Действует система скидок и бонусов для постоянных покупателей
                      <strong>Карта постоянного клиента дается при покупке товаров в аптеке на сумму 20 рублей.</strong>
                  </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-warning h-100">
              <a href="#" class="h-100">
                  <h5>Специальные <br>предложения</h5>
                  <p>
                      Наличие широкого перечня акционных товаров и скидок
                     
                      <strong> Акции проводятся ежемесячно</strong>
                  </p>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>



<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Популярные продукты</h2>
          </div>
        </div>

        <div class="row">
                @foreach (var medicine in ViewBag.AllMedicine)
                {
                  if (ViewBag.Count <= 6)
                  {
                    <div class="col-sm-6 col-lg-4 text-center item mb-4">
                      <a asp-controller="PharmacyWarehouse" asp-action="Medicine" asp-route-medicineId="@medicine.Id"> <img src="@medicine.Image" alt="Image" style="max-width: 370px;max-height: 270px;"></a>
                      <h3 class="text-dark"><a asp-controller="PharmacyWarehouse" asp-action="Medicine" asp-route-medicineId="@medicine.Id">@medicine.MedicineName</a></h3>
                      <p class="price">@medicine.Price Br</p>
                    </div>
                  }
                  else
                  {
                    break;
                  }
                  ViewBag.Count += 1;
                }
              </div>
      </div>
        <div class="row mt-5">
          <div class="col-12 text-center">
            <a  asp-controller="PharmacyWarehouse" asp-action="AllMedicine" class="btn btn-primary px-4 py-3">Посмотреть все продукты</a>
          </div>
        </div>
      </div>


    <div class="site-section bg-secondary bg-image" style="background-image: url('images/bg_2.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                  <h2>ЛЕКАРСТВЕННОЕ СТРАХОВАНИЕ</h2>
                  <p>
                      "Аптека" - единственная аптечная сеть, которая совместно со страховыми компаниями работает по программам корпоративного лекарственного страхования.
                  </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                  <h2>ГАРАНТИЯ КАЧЕСТВА</h2>
                  <p>
                      Сотрудничаем только с надежными поставщиками, 100% гарантия качества всех наименований нашего ассортиментного перечня
                  </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>


    
